#navbar{
    width:90vw;
    
    margin: auto;
    height: 500px;

}
#navback{
    
    background-color: #fff0b8;
}
#container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    
}
#en{
    display: flex;
    border: 0.5px solid rgba(10, 234, 246, 0.685);
    height: 32px;
    font-size: 20px;
    align-items: center;
    padding: 1px 6px;
    border-radius: 9px;

}
#en:hover{
    background-color: white;
}
#en>img{
    height: 20px;
    margin: auto;
}
#container>div:nth-child(1){
    font-size: 30px;
    margin: 0 5px 0 5px;   
}
#logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}
#menu{
    display: flex;
    width: 50%;
    gap:5%;
    font-size: 18px;
    margin: 0 0 0 20%;

}
#menu>div:hover{
    color: rgb(0, 170, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sign{

    display: flex;
    gap: 5%;
    width: 30%;
    font-size: 20px;

}
#sign>div:first-child{
    margin-left: 50%;
    display: flex;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sign>div+div{
    border: 1px solid rgb(0, 110, 255);
    padding: 5px 9px;
    border-radius: 10px;
    color: rgb(0, 98, 255);
}
#sign>div+div:hover{
    background-color: royalblue;
    color: white;
    
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  #navbox {
    background-color: #fff0b8;
    height: 500px;
    width: 100%;
  }
  
  nav ul {
    float: right;
    margin-right: 100px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 17px;
  }
  #lefthead{
    width: 50%;
  }
  #righthead{
    width: 50%;
  }
 